<%- include("./partials/head", {title:"login"}) %> 
<body>
	<%- include('partials/headerNavbar') %>
    <div class="container"></div>
   
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                      <h1 >Login</h1>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email" id="email" aria-describedby="emailHelp" value="<%= locals.old && old.email ? old.email : null %>">
                        <p class="text-danger"><%= locals.errors && errors.email ? errors.email.msg : null%> </p>
                      </div>
                      <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" name="password" id="password" aria-describedby="emailHelp">
                        <p class="text-danger"><%= locals.errors && errors.password ? errors.password.msg : null%> </p>
                      </div>
                      <div class="">
                        <input type="checkbox" name="remember" id="recordame">
                        <label for="recordame">Recordame</label>
                        <p class="text-danger"><%= locals.errors && errors.terms ? errors.terms.msg : null %></p>
                    </div> 
                    
                    
                        <button type="submit" class="btn btn-primary col-12 ">Enviar</button>
                      </form>
                </div>
            </div>
        </div>      
    </div>  
	
	<%- include("./partials/footer") %> 
</body>
</html>

