<%- include("./partials/head",{title:"Registro"}) %> 
<body>
	<%- include('partials/headerNavbar') %>
    <div class="container"></div>
    
    <div class="row">
        
        <div class="col-6 mx-auto">
          
            <div class="card">
                <div class="card-body">
                    <form  action="" method="POST" >
                      <h1 >Registro</h1>
                   
                        <div class="mb-3">
                          <label for="name" class="form-label">Nombre</label>
                          <input type="text" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" name="name" id="name" value="<%= locals.old && old.username ? old.username : null %>">
                          <p class="text-danger"><%= locals.errors && errors.name ? errors.name.msg : null%> </p>
                        </div>
                        
                        <div class="mb-3">
                            <label for="surname" class="form-label">Apellido</label>
                            <input type="text" class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>" name="surname" id="surname"  value="<%= locals.old && old.surname ? old.surname : null %>">
                            <p class="text-danger"><%= locals.errors && errors.surname ? errors.surname.msg : null%> </p>
                          </div>
                          <div class="mb-3">
                            <label for="img" class="form-label">Imagen</label><br>
                            <input type="file" name="img" id="img" accept="image/*" ><!-- multiple -->
                            <p class="text-danger"><%= locals.errors && errors.img ? errors.img.msg : null %></p>               
                        </div>
                          <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email" id="email"  value="<%= locals.old && old.email ? old.email : null %>">
                            <p class="text-danger"><%= locals.errors && errors.email ? errors.email.msg : null%> </p>
                          </div>
                          <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" name="password" id="password" >
                            <p class="text-danger"><%= locals.errors && errors.password ? errors.password.msg : null%> </p>
                          </div>
                          
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                      </form>
                </div>
            </div>
        </div>      
    </div>  
	
	<%- include("./partials/footer") %> 
</body>
</html>